# 1. فولدر الحزم والمكتبات (حجمه كبير جداً وممنوع يترفع)
node_modules/

# 2. ملف البيئة السرية (اللي جواه باسورد قاعدة البيانات والـ API Keys)
.env

# 3. ملفات النظام والـ Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
Thumbs.db

# 4. فولدرات البلد أو الإنتاج (لو هتستخدم مجلدات بناء مستقبلاً)
dist/
build/